<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Metric Capture</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var team = /*[[${team}]]*/ 'all';
        console.log('team: ' + team);

        /*]]>*/
    </script>
    <script>
        $(function () {
            $("#date").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
    <style type="text/css">
        input {
            display: block;
            font-size: 11px;
            padding: 4px 2px;
            border: solid 1px #aacfe4;
            width: 70px;
            margin: 2px 0 20px 10px;
        }

        #message {
            display: block;
            font-size: 11px;
            padding: 4px 2px;
            border: solid 1px darkred;
            width: 70px;
            margin: 2px 0 20px 10px;
        }

    </style>
</head>
<body>
<div><h1>Metric Capture</h1></div>
<span id="message"></span>
<form id="metric_capture">
    <label for="date">Date</label><input type="text" id="date" name="date">
    <label for="cycletime">Cycle Time (days)</label><input type="text" id="cycletime" name="cycletime">
    <label for="deployment_frequency">Deployment Frequency (days)</label><input type="text" id="deployment_frequency"
                                                                         name="deployment_frequency">
    <label for="incidents_due_to_change">Incidents due to change</label><input type="text" id="incidents_due_to_change"
                                                                               name="incidents_due_to_change">
    <label for="production_defects">Production Defects</label><input type="text" id="production_defects"
                                                                     name="production_defects">
    <label for="team_happiness">Team Happiness</label><input id="team_happiness" name="team_happiness"
                                                             type="text">
    <label for="customer_satisfaction">Customer Satisfaction</label><input id="customer_satisfaction"
                                                                           name="customer_satisfaction"
                                                                           type="text">
    <input type="submit" value="Submit">
</form>
<script type="text/javascript">
    var frm = $('#metric_capture');

    frm.submit(function (e) {

        e.preventDefault();

        $("#metric_capture input[type=text]").each(function () {
            if (this.name == 'date' || this.value == "") {
                console.log(this.name + ': skip field');
                return;
            }
            $.ajax({
                method: "GET",
                url: "/" + this.name + "/" + team + "/" + $("#date").val() + "/" + this.value,
                success: function (url) {
                    console.log(url + ': Submission was successful.');
                },
                error: function (url) {
                    console.log(url + ': An error occurred.');
                },
            });
        });
        $("#message").text("Metrics Submitted");
        return false;

    });

    $("#date").change(function () {
        $("#metric_capture input[type=text]").each(function () {

            var elementid = this.id;

            if (this.name == 'date') {
                console.log(this.name + ': skip field');
                return;
            } else {
                $("#" + elementid).val("");
            }

            function success_cb(data) {
                if (data != "") {
                    console.log(elementid + " : " + data.value);
                    $("#" + elementid).val(data.value);
                }
            }

            $.ajax({
                method: "GET",
                url: "/" + this.name + "/" + team + "/" + $("#date").val(),
                success: function (data) {
                    success_cb(data);
                },
                error: function (data) {
                    console.log(data);
                },
            });
        });
    });
</script>
</body>
</html>