<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Team Dashboard</title>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
      <link href='/static/css/dashboard.css' rel='stylesheet'>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var team = /*[[${slug}]]*/ 'all';
        console.log('team: ' + team);

        /*]]>*/
    </script>
  </head>
  <body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><span th:text="${team.name}"></span></a>
      <a href="/"><span>Root</span></a>
      <span th:each="ancestor : ${ancestors}">
    <a th:href="@{/dashboard/{slug}/(slug=${ancestor.slug})}">
    <span th:text="${ancestor.name}"></span></a> </span>
      <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
              <a class="nav-link" href="#">Sign out</a>
          </li>
      </ul>
  </nav>
  <div class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <a class="nav-link active" href="#">
                              <span data-feather="bar-chart-2"></span>
                              Dashboard <span class="sr-only">(current)</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" th:href="@{/metrics/capture/{slug}/(slug=${slug})}">
                              <span data-feather="upload"></span>
                              Capture
                          </a>
                      </li>
                  </ul>
              </div>
          </nav>

          <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">Dashboard</h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                      <div class="btn-group mr-2">
                          <button class="btn btn-sm btn-outline-secondary" type="button">Share</button>
                          <button class="btn btn-sm btn-outline-secondary" type="button">Export</button>
                      </div>
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
                          <span data-feather="calendar"></span>
                          This week
                      </button>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col">
                          <canvas class="my-4" id="chart1"></canvas>
                      </div>
                      <div class="col">
                          <canvas class="my-4" id="chart2"></canvas>
                      </div>
                      <div class="col">
                          <canvas class="my-4" id="chart3"></canvas>
                      </div>
                      <div class="w-100"></div>
                      <div class="col">
                          <canvas class="my-4" id="chart4"></canvas>
                      </div>
                      <div class="col">
                          <canvas class="my-4" id="chart5"></canvas>
                      </div>
                      <div class="col">
                          <canvas class="my-4" id="chart6"></canvas>
                      </div>
                  </div>
              </div>
          </main>
      </div>
  </div>

  <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/webjars/feather-icons/dist/feather.js"></script>
  <script src="/webjars/moment/min/moment.min.js"></script>
  <script src="/webjars/chartjs/Chart.js"></script>

  <script src="/static/js/dashboard.js" type="text/javascript"></script>
  </body>
</html>