<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Team Dashboard</title>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
      <link rel='stylesheet' th:href="@{/static/css/dashboard.css}">
      <link href='/webjars/bootstrap-datepicker/css/bootstrap-datepicker3.css' rel='stylesheet'>
  </head>
  <body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <span class="navbar-brand col-sm-3 col-md-2 mr-0">Team Dashboard</span>
      <span class="mr-auto nav-bar-text"><a class="nav-link text-white" id="team-name"></a></span>
  </nav>
  <div class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <a class="nav-link" id="teamexplorer-link">
                              <span data-feather="compass"></span>
                              Team Explorer
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="dashboard-link">
                              <span data-feather="bar-chart-2"></span>
                              Team Dashboard
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="deployments-link">
                              <span data-feather="truck"></span>
                              Deployments
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="incidents-link">
                              <span data-feather="alert-circle"></span>
                              Incidents
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="change-requests-link">
                              <span data-feather="file-text"></span>
                              Change Requests
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="collection-link">
                              <span data-feather="trending-up"></span>
                              Collection Report
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="capture-link">
                              <span data-feather="upload"></span>
                              Capture
                          </a>
                      </li>
                  </ul>
              </div>
          </nav>

          <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
              <div class="d-none" id="teamexplorer-content">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Team Explorer</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                          <div class="btn-group mr-2">
                              <button class="btn btn-sm btn-outline-secondary" id="teamexplorer-refresh-button"
                                      type="button"><span
                                      data-feather="refresh-cw"></span></button>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <ul class="list-group" id="team-heirarchy-list">

                      </ul>
                  </div>
              </div>
              <div class="d-none" id="dashboard-content">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Team Dashboard</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                          <div class="btn-group mr-2">
                              <button class="btn btn-sm btn-outline-secondary" id="dashboard-refresh-button"
                                      type="button"><span
                                      data-feather="refresh-cw"></span></button>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <h3 class="mb-3">Team Performance</h3>
                      <div class="row">
                          <div class="col">
                              <div class="card">
                                  <div class="card-header">
                                      <h6 class="card-title">Deployment Frequency</h6>
                                  </div>
                                  <div class="card-body text-center">
                                      <p class="h1"><span class="badge" id="current_deploy_freq"></span></p>
                                      <p class="card-text"><small class="text-muted" id="current_deploy_freq_txt"></small></p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <canvas class="my-4" id="chart0"></canvas>
                              <small class="form-text text-muted">
                                  Team throughput and stability performance over the last 90 days
                              </small>
                          </div>
                          <div class="col">
                          </div>
                      </div>
                      <hr class="mb-3">
                      <h3 class="mb-3">Throughput</h3>
                      <div class="row">
                          <div class="col-xl-5">
                              <canvas class="my-4" id="chart1"></canvas>
                              <small class="form-text text-muted">
                                  The average time from code commit to production deployment in the previous 90 days
                              </small>
                          </div>
                          <div class="col-xl-5">
                              <canvas class="my-4" id="chart2"></canvas>
                              <small class="form-text text-muted">
                                  The number of production deployments per day
                              </small>
                          </div>
                      </div>
                      <hr class="mb-3">
                      <h3 class="mb-3">Stability</h3>
                      <div class="row">
                          <div class="w-100"></div>
                          <div class="col-xl-5">
                              <canvas class="my-4" id="chart3"></canvas>
                              <small class="form-text text-muted">
                                  The percentage of production changes which failed in the previous 90 days
                              </small>
                          </div>
                          <div class="col-xl-5">
                              <canvas class="my-4" id="chart4"></canvas>
                              <small class="form-text text-muted">
                                  The mean time for recovery from production incidents in the previous 90 days
                              </small>
                          </div>
                      </div>
                      <hr class="mb-3">
                      <h3 class="mb-3">Happiness</h3>
                      <div class="row">
                          <div class="w-100"></div>
                          <div class="col-xl-5">
                              <canvas class="my-4" id="chart8"></canvas>
                              <small class="form-text text-muted">
                                  Average team happiness rating on a scale of 1-5 in the previous 90 days
                              </small>
                          </div>
                          <div class="col-xl-5">
                          </div>
                      </div>
                      <hr class="mb-3">
                      <h3 class="mb-3">Additional Metrics</h3>
                      <div class="row">
                          <div class="col-xl-4">
                              <canvas class="my-4" id="chart10"></canvas>
                              <small class="form-text text-muted">
                                  The volume of work delivered in each deployment, measured as average commits per deployment
                              </small>
                          </div>
                          <div class="col-xl-4">
                              <canvas class="my-4" id="chart9"></canvas>
                              <small class="form-text text-muted">
                                  Average customer satisfaction rating
                              </small>
                          </div>
                          <div class="w-100"></div>
                          <div class="col-xl-4">
                              <canvas class="my-4" id="chart11"></canvas>
                              <small class="form-text text-muted">
                                  The percentage of test automation coverage
                              </small>
                          </div>
                          <div class="col-xl-4">
                              <canvas class="my-4" id="chart12"></canvas>
                              <small class="form-text text-muted">
                                  The total test cases executed.
                              </small>
                          </div>
                          <div class="col-xl-4">
                              <canvas class="my-4" id="chart13"></canvas>
                              <small class="form-text text-muted">
                                  The number of automated test cases executed
                              </small>
                          </div>
                          <div class="w-100"></div>
                      </div>
                      <hr class="mb-3">
                  </div>
              </div>
              <div class="d-none" id="deployments-content">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Deployments</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                          <div class="btn-group mr-2">
                              <button class="btn btn-sm btn-outline-secondary" id="deployment-refresh-button"
                                      type="button"><span
                                  data-feather="refresh-cw"></span></button>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="table-responsive">
                              <table class="table table-striped table-sm" id="deployment-table-body">

                              </table>
                          </div>
                          <small class="form-text text-muted">
                              All team deployments
                          </small>
                      </div>
                      <hr class="mb-3">
                  </div>
              </div>
              <div class="d-none" id="incidents-content">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Incidents</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                          <div class="btn-group mr-2">
                              <button class="btn btn-sm btn-outline-secondary" id="incident-refresh-button"
                                      type="button"><span
                                  data-feather="refresh-cw"></span></button>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="table-responsive">
                              <table class="table table-striped table-sm" id="incident-table-body">

                              </table>
                          </div>
                          <small class="form-text text-muted">
                              All team incidents
                          </small>
                      </div>
                      <hr class="mb-3">
                  </div>
              </div>
              <div class="d-none" id="change-requests-content">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Change Requests</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                          <div class="btn-group mr-2">
                              <button class="btn btn-sm btn-outline-secondary" id="change-request-refresh-button"
                                      type="button"><span
                                  data-feather="refresh-cw"></span></button>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="table-responsive">
                              <table class="table table-striped table-sm" id="change-request-table-body">

                              </table>
                          </div>
                          <small class="form-text text-muted">
                              All team Change Requests
                          </small>
                      </div>
                      <hr class="mb-3">
                  </div>
              </div>
              <div class="d-none" id="collection-content">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Collection Report</h1>
                      <div class="btn-toolbar mb-2 mb-md-0">
                          <div class="btn-group mr-2">
                              <button class="btn btn-sm btn-outline-secondary" id="collection-refresh-button"
                                      type="button"><span
                                      data-feather="refresh-cw"></span></button>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                              <canvas class="my-4" id="collection-chart1"></canvas>
                              <small class="form-text text-muted">
                                  The number of nodes collecting data over time
                              </small>
                      </div>
                      <hr class="mb-3">
                  </div>
              </div>
              <div class="d-none" id="capture-content">
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                      <h1 class="h2">Metric Capture</h1>
                  </div>
                  <div class="container">
                      <div class="col-md-8">
                          <form class="needs-validation" id="metric_capture">
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="date">Date</label>
                                      <input autocomplete="off" class="form-control" id="date" name="date" required
                                             type="text">
                                      <small class="form-text text-muted">
                                          The date representing the metric period.
                                      </small>
                                      <div class="invalid-feedback">
                                          Please enter a metric period date.
                                      </div>
                                  </div>
                              </div>
                              <hr class="mb-4">
                              <h3 class="mb-3">Throughput</h3>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="lead_time">Lead Time (mins)</label>
                                      <input class="form-control" id="lead_time" name="lead_time" type="text">
                                      <small class="form-text text-muted">
                                          The average time from code commit to production deployment.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="deployment_count">Deployment Count</label>
                                      <input class="form-control" id="deployment_count" name="deployment_count"
                                             type="text">
                                      <small class="form-text text-muted">
                                          The number of production deployments per day.
                                      </small>
                                  </div>
                              </div>
                              <hr class="mb-4">
                              <h3 class="mb-3">Stability</h3>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="change_failure_rate">Change Failure Rate (%)</label>
                                      <input class="form-control" id="change_failure_rate" name="change_failure_rate"
                                             type="text">
                                      <small class="form-text text-muted">
                                          The percentage of production changes which fail.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="mttr">Mean Time for Recovery (minutes)</label>
                                      <input class="form-control" id="mttr" name="mttr" type="text">
                                      <small class="form-text text-muted">
                                          The mean time for recovery from production incidents.
                                      </small>
                                  </div>
                              </div>
                              <hr class="mb-4">
                              <h3 class="mb-3">Additional Metrics</h3>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="cycletime">Cycle Time (days)</label>
                                      <input class="form-control" id="cycletime" name="cycletime" type="text">
                                      <small class="form-text text-muted">
                                          The average time from starting work on a customer request to the request being
                                          satisfied.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="incidents_due_to_change">Incidents due to change</label>
                                      <input class="form-control" id="incidents_due_to_change"
                                             name="incidents_due_to_change" type="text">
                                      <small class="form-text text-muted">
                                          The number of incidents due to production changes.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="production_defects">Production Defects</label>
                                      <input class="form-control" id="production_defects" name="production_defects"
                                             type="text">
                                      <small class="form-text text-muted">
                                          The number of defects found in production.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="team_happiness">Team Happiness</label>
                                      <input class="form-control" id="team_happiness" name="team_happiness" type="text">
                                      <small class="form-text text-muted">
                                          Average team happiness rating on a scale of 1-5.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="customer_satisfaction">Customer Satisfaction</label>
                                      <input class="form-control" id="customer_satisfaction"
                                             name="customer_satisfaction" type="text">
                                      <small class="form-text text-muted">
                                          Average customer satisfaction rating.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="batch_size">Batch Size</label>
                                      <input class="form-control" id="batch_size" name="batch_size" type="text">
                                      <small class="form-text text-muted">
                                          The volume of work delivered in each deployment, measured as average commits per deployment.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="total_test_execution_count">Total Test Cases Executed</label>
                                      <input class="form-control" id="total_test_execution_count"
                                             name="total_test_execution_count" type="text">
                                      <small class="form-text text-muted">
                                          The total test cases executed.
                                      </small>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="mb-3">
                                      <label for="test_automation_execution_count">Total Automated Test Cases
                                          Executed</label>
                                      <input class="form-control" id="test_automation_execution_count"
                                             name="test_automation_execution_count" type="text">
                                      <small class="form-text text-muted">
                                          The number of automated test cases executed.
                                      </small>
                                  </div>
                              </div>

                              <div id="alert"></div>
                              <hr class="mb-4">
                              <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                              <hr class="mb-4">
                          </form>
                      </div>
                  </div>
              </div>
          </main>
      </div>
  </div>

  <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/webjars/feather-icons/dist/feather.js"></script>
  <script src="/webjars/moment/min/moment.min.js"></script>
  <script src="/webjars/chartjs/Chart.js"></script>
  <script src="/webjars/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

  <script th:src="@{/static/js/dashboard.js}" type="text/javascript"></script>
  </body>
</html>