<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <style type="text/css">
        input, select {
            display: block;
            font-size: 11px;
            padding: 4px 2px;
            border: solid 1px #aacfe4;
            width: 70px;
            margin: 2px 0 20px 10px;
        }

        #message {
            display: block;
            font-size: 11px;
            padding: 4px 2px;
            border: solid 1px darkred;
            width: 70px;
            margin: 2px 0 20px 10px;
        }

    </style>
</head>
<body>
<div><h1>Teams</h1></div>
<span id="message"></span>
<form id="team_form">
    <label for="team">Team</label><select id="team"></select>
    <input type="hidden" id="id" name="id">
    <label for="team_id">Team ID</label><input type="text" id="team_id" name="team_id">
    <label for="team_name">Team Name</label><input type="text" id="team_name" name="team_name">
    <label for="team_platform">Platform Name</label><input type="text" id="team_platform"
                                                           name="team_platform">
    <label for="team_domain">Domain Name</label><input type="text" id="team_domain"
                                                       name="team_domain">
    <input type="submit" value="Submit">
</form>
<script type="text/javascript">


    function validate() {
        var input = $("#team_id").val();
        var re = /[^a-zA-Z0-9_]+/g;

        var test = re.test(input);
        if (test) {
            $("#message").text("Team Id must contain letters, numbers and _ only");
        }
        return test;
    }

    var frm = $('#team_form');

    frm.submit(function (e) {

        e.preventDefault();

        if ($("#team_id").val() == "") {
            $("#message").text("Team Id Required");
            return;
        }
        if (validate()) {
            return;
        }

        var team = {
            teamId: $("#team_id").val(),
            teamName: $("#team_name").val(),
            platformName: $("#team_platform").val(),
            domainName: $("#team_domain").val()
        };

        var method = "POST";
        var url = "/team/";

        if ($('#id').val() != "") {
            method = "PUT";
            url = $('#id').val();
        }

        $.ajax({
            method: method,
            url: url,
            data: JSON.stringify(team),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data + ': Submission was successful.');
                loadTeams();
            },
            error: function (data) {
                console.log(data + ': An error occurred.');
            },
        });

        $("#message").text("Team Saved");
        return false;

    });

    function loadTeams() {
        $.ajax({
            method: "GET",
            url: "/team/?size=1000",
            success: function (data) {
                var teams = data._embedded.team;

                $('#team').empty();
                $('#team').append('<option value="">Select</option>');

                for (var i = 0; i < teams.length; i++) {
                    $('#team').append('<option value="' + teams[i]._links.self.href + '">' + teams[i].teamName + '</option>');
                }
            },
            error: function (data) {
                console.log(data);
            },
        });
    }

    $(loadTeams());

    $("#team").change(function () {
        $("#message").text("");
        if ("" == this.value) {
            $("#id").val("");
            $("#team_id").val("");
            $("#team_name").val("");
            $("#team_platform").val("");
            $("#team_domain").val("");
            return;
        }

        var objectUrl = this.value;

        function cb(data) {
            $("#id").val(objectUrl);
            $("#team_id").val(data.teamId);
            $("#team_name").val(data.teamName);
            $("#team_platform").val(data.platformName);
            $("#team_domain").val(data.domainName);
        }

        $.ajax({
            method: "GET",
            url: objectUrl,
            success: function (data) {
                cb(data);
            },
            error: function (data) {
                console.log(data);
            },
        });
    });
</script>
</body>
</html>