<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>


<li th:each="child : ${children}" th:fragment="teamlist (children)">
    <a th:href="@{/dashboard/{slug}/(slug=${child.slug})}">
        <span th:text="${child.name}"></span>
    </a>
    <ul th:insert="::teamlist (${child.children})"></ul>
</li>
<h3>Root</h3>
<ul>
    <li th:each="team : ${teams}">
        <a th:href="@{/dashboard/{slug}/(slug=${team.slug})}">
            <span th:text="${team.name}"></span>
        </a>

        <ul th:insert="::teamlist (${team.children})"></ul>
    </li>
</ul>

</body>
</html>